;
;Loading Data on startup into simulated MM
;
; e.g.:
; ../data/<file.bin> <address:decimal>
;
../data/depth2d_input_vpro 0
../data/points_2d_mapping_input_vpro 131072
../data/labels2d_input_vpro 391072
../data/depth3d_input_vpro 522144